@charset "UTF-8";

.swiper {
  width: 768px;
  height: 150px;
}

.swiper-controls{
	width: 768px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

img{
	width: 340px;
	height: 127.5px;
}