@charset "UTF-8";
#hotel_Related{	
	margin: 20px;
}
#Related_listbody{
	margin: 20px;
	width: 728px;
	margin: 0 auto;
	}

#Related_ulbody{
	text-align: center;	
	width: 728px;
	display: flex;
	margin: 0;
    padding: 0;
	justify-content: space-between;
}
#Related_hotellist{
	width: 140px;
	text-align: center;
	list-style: none;
	margin:0;
	padding: 0;
	background-color: white;
}
#Related_hotellist>a{
	width: 140px;
	text-decoration-line: none;
  	color: black;
}

.Related_hotelimg{
	margin: 0px;		
}
.Related_hotelimg{
	border-radius: 5px;
	 background-size: 100px;
	 width:140px; 
	 height:140px;
}
.Related_hotelimg_img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.Related_content{
	margin: 10px;	 
	width: 120px;
	font-size: 12px;
}

.info{
	width: 100%;
	text-align: left;	
}
#Related_hotellist>a>div>div>li>h3{
	margin: 0;
	font-size: 14px;
}

.Related_price{
	text-align: right;
	width: 120px;
	font-size: 16px;
}
