@charset "UTF-8";
body{
	background-color: #f2f2f2;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
	}

.ReserveContainer{
	width: 100%;
	}
.Reserveheader{
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
}
.headerdiv{
	width: 768px;
	display: flex;
	justify-content: space-between;
}
.ReserveWrapper{
	width: 100%;
	display: flex;
	justify-content: center;
}
.ReserveContent{
	width: 768px;
}
.infoContatiner{
	background-color: white;
	padding: 10px 20px;
	margin-bottom: 8px;
}
.loginbenefit{
	background-color: white;
	padding: 20px;
	padding-top: 0;
	margin-bottom: 8px;
}
.gologin{
	padding: 10px 0;
}
.gologin>a{
	color: blue;
	text-decoration: none;
	font-weight: bold;
}
.loginbenefitinfo{
	font-size: 12px;
}
.hotelinfo{	
	background-color: white;
	padding: 0 20px;
	margin-bottom: 8px;
}
.hotelkind{
	padding-top: 10px;	
	font-size: 15px;
	font-weight: bold;
}
.freecancel{
	background-color: #f2f2f2;
	padding: 10px;
	font-size: 12px;
 	display: flex;
 	justify-content: space-between;
}
.hotelcontent{
	padding: 20px 0;
	min-width: 340px;
}
.hotelname{
	font-weight: bold;
	font-size: 18px;
}
.period{
	margin-top: 24px;
	display: flex;
}
.checkin{
	width: 100%;
}
.checkout{
	width: 100%;
}
.cktitle{
	font-size: 14px;
	color: gray;
}
.ckdate{
	font-weight: bold;
}
.price{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.pdate{
	font-size: 14px;
}
.freepriod{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 12px;
	color: darkgreen;
}
.comeway{
	margin-top: 24px;
	border: 1px #f2f2f2 solid;
	border-radius: 10px;
	padding: 10px;
}

.infotitle{
	font-weight: bold;
	display: flex;
	align-items: center;
	height: 48px;
}
.title_info{
	background-color: #f2f2f2;
	padding: 10px 12px;
	font-size: 12px;
}
.relax{
	color: #919191;
	font-size: 12px;
	
}
.bill{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:  8px 0;
}
.billborder{
	border-bottom-style:dashed;
	border-color: #f2f2f2;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.glcontain{
	padding-bottom: 20px;
}
.goinglogin{
	background-color: white;
	color: blue;
	border: blue 1px solid;
	border-radius: 10px;
	width: 100%;
	padding: 10px 16px;
	margin-top: 12px;
}
.discon{
	padding-bottom: 10px;
}
.dis1{
	background-color: #f2f2f2;
	padding: 10px;
	margin-bottom: 8px;
}
.dis2{
	background-color: #f2f2f2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}
.adkko{
	padding-top: 10px;
}
.adkko>img{
	width: 728px;
}
.credit{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 12px 8px;
	list-style: none;
	padding: 0;
}
.kcredit{
	    grid-column: 1/span 2;
}
.credit>li{
	border: 1px solid #f2f2f2;
	height: 24px;
	padding: 11px 8px;
	text-align: center;
}
.credit>li:hover{
	background-color: #f2f2f2;
}
.credit>li:active{
	background-color: #f2f2f2;
	border: blue 1px solid;
	
}
.creditbenefit{
	background-color: #f2f2f2;
	padding:12px 20px 16px 20px;
}
.kakaopay{
	width: 55px;
	height: 24px;
}
.dicount_content1{
	font-size: 13px;
	padding: 10px 0;
	border-bottom-style: dashed;
	border-color: #919191;
}
.dicount_content2{
	font-size: 13px;
	padding: 10px 0;
}
.seeallbenefit{
	width: 100%;
	margin-top:8px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}
.seeallbenefit>button{
	background-color: white;
	border: none;
	color: blue;
}
.warning{
	padding: 10px;
	list-style: none;
	background-color:  #fef8f2;
	margin-bottom: 0;
}
.warning>li{
	font-size: 13px;
}
.wli1{
	margin-top:12px;
}
.wtitle{
	color: orangered;
	font-weight: bold;
}
.agreetitle{
	font-size: 18px;
	font-weight: bold;
	padding: 29px 0 16px 0;
}
.agree{
	padding: 8px 0;
}
.explain{
	margin-top: 16px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 13px;
}
.explain2{
	margin-top: 16px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 13px;
	padding-bottom: 52px;
}
.payment{
	border: none;
	background-color: #cccccc;
	color: white;
	width: 100%;
	padding: 13px 16px;
	margin-top: 12px;
}
.name{
	padding: 10px;
}
.Num{
	padding: 10px;
}
.phonecheck{
	background-color: white;
	border: lightgray 1px solid;
	border-radius: 5px;
	width: 100%;
	padding: 5px 0;
	margin:10px 0 0 0 ;
}
.phonecheck:hover{
	background-color: #f2f2f2;
}
.name>div>input{
	border: none;
	border-bottom: 1px lightgray solid;
	width: 100%;
	outline: none;
	padding: 8px 0;
	}
.Num>div>input{
	border: none;
	border-bottom: 1px lightgray solid;
	width: 100%;
	outline: none;
	padding: 8px 0;
	}	
.sameperson{
	padding: 10px 0;	
}
.hasnamephone{
	display: flex;
	align-items: center;
}
.hasnamephone>div{
	padding: 0 0 0 5px;
}
.hasnamephone>div>button{
	background-color: white;
	border: 1px lightgray solid;
	font-size: 12px;
	padding:5px 0;
	width: 60px;
}
.more-content{
	padding: 0 20px;
	font-size: 12px;
	background-color: #f2f2f2;
}
.cntul{
	padding: 10px 0;
	margin:0
}
.more-detail{
	display: flex;
	align-items: center;
}
.more-detail>span{
	padding: 0 10px 0 0 ;
}
.seemoredis{
	background-color: #f2f2f2;
	padding: 0 10px;
}

/* 모달 스타일 */
.modal {
  display: none; /* 초기에는 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modalinfo{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}
.checkTime{
	color: gray;
	padding:10px;
	font-size: 13px;
}
.time{
	font-weight: bold;
	color: black;
}
.checkTime>div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:5px;
}
.Warnnig{
	padding: 10px 0 20px 0;
}
.Warnnig>div{
	padding: 10px 0;
}
.red{
	color: deeppink;
}
.proceed{
	display: flex;
	color: gray;
}
.proceed>div{
	text-align: center;
	width: 100%;
}.cancel{
	color: black;
}
.selectdiscount{
	display: flex;
	justify-content: space-between;
	background-color: #f2f2f2;
	padding: 20px;
	border: #919191 1px solid; 
	border-radius: 5px;
}

/* 모달 스타일 */
.couponModal {
  display: none; /* 초기에는 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.couponModal-content {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.coupon_header{
	background-color: white;
	display: flex;
	justify-content: center;
}
.coupon_header2{
	height: 48px;
	width: 768px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.coupon_container{
	display: flex;
	justify-content: center;
	height: 100%;
}
.coupon_wrapper{
	padding: 20px;
	background-color: white;
	width: 728px;
}
.coupon_hotel{
	width: 686px;
	height: 188px;
	padding: 20px;
	border: 1px solid black;
	display: flex;
}
.select_coupon{
	display:flex;	width: 320px;
	padding-left: 20px;
}
.select_coupon>div>div{
	margin-top: 10px;
}
.coupon_selected{width: 320px;
	display: flex;
	justify-content: space-between;	
}
.choose_coupon{
	border: 1px solid black;
	background-color: #f2f2f2;
	padding: 10px;
	display: none;
	justify-content: space-between;
}


.coupon_child_modal {
  display: none; /* 초기에는 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.coupon_child_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cc_wrapper{
	width: 688px;
	padding: 20px;	display: grid;
	grid : 'a b' 
			'c d'
			'e f' /1fr 1fr;	
}
.close{
	font-size: 40px;
}
.cc_info{

}
